node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode/
generated_qr/

# scripts
qr_cli.egg-info/
qr_creator.egg-info/
venv/
firebase-privatekey*.json
__pycache__/

# environment
.env*
!.env.example
secrets/

# macOS
.DS_Store

